.services {
    background-color: #fff;
    text-align: center;
  }
  
  .serviceCards {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .serviceCard {
    width: 30%;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
  }
  